body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

.shadow{
    font-size: 36px;
    font-weight: bold;
    text-shadow: 10px 10px 3px gray;
}

.capitalize{
    text-transform: capitalize;
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
    text-align: right;
}

.lowercase{
    text-transform: lowercase;
}

.firstletter::first-letter{
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.firstletter::first-line{
    font-weight: bold;
}

